fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9
PyMuPDF==1.24.10
Pillow==10.4.0
paddlepaddle==2.6.2
paddleocr==2.9.1
doclayout-yolo==0.0.2
sentence-transformers==3.0.1
faiss-cpu==1.8.0
google-generativeai==0.8.3
python-dotenv==1.0.1
numpy==1.26.4
torch==2.4.1
